*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(104, 88, 177);
    background-blend-mode: overlay;
    font-family: "DM Sans", sans-serif;
    
    padding: 40px 213px;
}
.head{
    color: #ffffff;
display: flex;
width: 1172px;
height: 40px;

}
.list-box li a{
    color: #ffffff;
    text-decoration: none;
} 
.left-head{
    width: 100%;
    font-size: 24px;

}
.right-head{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
}

.right-head a{
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}
.btn{
    font-size: 18px;
    color: #482BE7;
    border-radius: 100px;
    background-color: #FFFFFF;
    padding: 8px;
    border: none;
    cursor: pointer;
}
main{
    color: #ffffff;
    display: flex;
    padding-top: 50px;
}
.section-left{
    width: 629px;

}
.section-left p{
    font-size: 22px;
    width: 81%;
    padding-bottom: 30px;

}
.section-left h1{
    font-size: 54px;
    width: 70%;
    padding-bottom: 30px;
}
.head i{
    display: none;
}
.gbtn{
    font-size: 20px;
    color: #482BE7;
    background-color: #ffffff;
    width: 125px;
    border-radius: 20px;
    padding: 9px;
    border: none;
    cursor: pointer;
}
.lbtn{
    font-size: 20px;
    color: #ffffff;
    background-color: transparent;
    width: 125px;
    border-radius: 20px;
    padding: 9px;
    cursor: pointer;
    border: 1px solid rgb(225, 223, 223);
}
#Div{
    display: flex;
    gap: 30px;
}


@media (min-width: 1000px) and (max-width: 1300px){
    body{
        padding:0px;
        margin: 40px;
        margin-left: 120px;
    }
    .right-head{
        width: 140%;
        justify-content: flex-start;

    }
    .head{
        width: 100%;
    }
    .section-left h1{
        font-size: 50px;
    }
    
}

@media (min-width: 700px) and (max-width: 950px){
    body{
        padding: 40px 15px;
        margin: 10px;
        padding-left: 48px;
    }
    .right-head{
        font-size: 12px;
        width: 190%;
        gap: 15px;
        justify-content: center;
    }
    .left-head{
        justify-content: center;
    }
    
    .section-left{
        width: 65%;
    }
    .section-left h1{
        font-size: 50px;
    }
    .head{
        width: 100%;
        
    }
   
}

@media (max-width: 600px){
    body{
        padding: 30px 10px;
    }
    .head{
        width: 100%;
        padding-left: 30px;
    }
    .right-head{
        display: none;
    }
    .section-left h1{
        font-size: 35px;
    }
    .section-left{
        width: 90%;
        
    }
    .head i{display: block;}
    main{
        width: 100%;
        padding-left:30px;
    }
}